<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{{- with .Site.Params.themeColor }}
	<meta name="theme-color" content="{{.}}">
	<meta name="msapplication-TileColor" content="{{.}}">
	{{- end }}
	{{- partial "structured-data.html" . }}
	{{- partial "favicons.html" }}
	<title>{{.Title}}</title>
	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify -}}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	{{- block "head" . -}}{{- end }}
	{{- range .Site.Params.customCSS }}
	<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}
	{{- if templates.Exists "partials/extra-head.html" -}}
	{{ partial "extra-head.html" . }}
	{{- end }}
</head>

<body id="page">
	{{ block "header" . -}}{{ end -}}
	{{ block "main" . -}}{{ end -}}
	{{ block "footer" . -}}{{ end }}
	{{ $script := resources.Get "js/main.js" | minify -}}
	<script src="{{ $script.Permalink }}"></script>
	{{- partial "analytics.html" . }}
	{{- if templates.Exists "partials/extra-foot.html" -}}
	{{ partial "extra-foot.html" . }}
	{{- end }}

    {{- if .Params.math -}}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.css" integrity="sha384-BdGj8xC2eZkQaxoQ8nSLefg4AV4/AwB3Fj+8SUSo7pnKP6Eoy18liIKTPn9oBYNG" crossorigin="anonymous">
        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.js" integrity="sha384-JiKN5O8x9Hhs/UE5cT5AAJqieYlOZbGT3CHws/y97o3ty4R7/O5poG9F3JoiOYw1" crossorigin="anonymous"></script>
        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {{- end }}
</body>

</html>
