<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<meta charset="UTF-8">
	{{ if eq .URL "/posts/" }}
	<meta name="description" content="{{$.Site.Params.homeSubtitle}}" />
	<meta name="keywords" content="{{ $.Site.Params.baseKeywords }}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="{{.Site.Params.homeSubtitle}}">
	<meta name="twitter:description" content="{{ .Site.Params.homeSubtitle }}">
	{{ else if .IsHome }}
	<meta name="description" content="{{$.Site.Params.homeSubtitle}}" />
	<meta name="keywords" content="{{ $.Site.Params.baseKeywords }}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="{{.Site.Params.homeSubtitle}}">
	<meta name="twitter:description" content="{{ .Site.Params.homeSubtitle }}">
	{{ else }}
	<meta name="description" content="" />
	<meta name="keywords" content="{{ .Keywords}}">
	<meta property="og:type" content="article">
	<meta property="og:description" content="{{.Description}}">
	<meta name="twitter:description" content="{{.Description}}">
	{{ end }}
	{{if isset .Params "image"}}
	<meta property="og:image" content="{{.Site.BaseURL}}{{.Params.Image}}">
	<meta property="twitter:image" content="{{.Site.BaseURL}}{{.Params.Image}}">
	<meta name="twitter:card" content="summary_large_image">
	{{else}}
	<meta name="twitter:card" content="summary">
	{{end}}
	<meta name="author" content="{{.Site.Author.name}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{{- with .Site.Params.themeColor }}
	<meta name="theme-color" content="{{.}}">
	<meta name="msapplication-TileColor" content="{{.}}">
	{{- end }}
    <meta property="og:site_name" content="Ruddra's Blog">
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:url" content="{{.Permalink}}">
    <meta name="twitter:title" content="{{.Title}}">
    <meta name="twitter:url" content="{{.Permalink}}">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="{{.Site.Author.name}}">
	<meta name="twitter:site" content="{{.Site.Params.twitter}}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{"apple-touch-icon.png" | relURL}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{"favicon-32x32.png" | relURL}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{"favicon-16x16.png" | relURL}}">
	<link rel="manifest" href="{{"site.webmanifest" | relURL}}">
	<link rel="mask-icon" href="{{"safari-pinned-tab.svg" | relURL}}" color="{{.Site.Params.themeColor}}">
	<link rel="shortcut icon" href="{{"favicon.ico" | relURL}}">
	<title>{{.Title}}</title>
	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
	{{ block "head" . -}}{{- end }}
</head>

<body id="page">
	{{ block "header" . -}}{{ end -}}
	{{ block "main" . -}}{{ end -}}
	{{ block "footer" . -}}{{ end }}
	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.RelPermalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
	{{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
