{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>{{ .Title }}</h1>
		<div class="content">
			{{ .Content }}
		</div>
		{{- if and .Params.comments .Site.DisqusShortname }}
		<div id="disqus" class="thin">
			{{ template "_internal/disqus.html" . }}
		</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
	<script>let haveHeader = true;</script>
{{ end }}
